.earth-img {
	position: fixed;
	width: 100%;
	object-fit: cover;
	opacity: 1;
}

#bg-img {
	background-image: url(https://i.imgur.com/OZkk4K9.png);
	background-position: 0 0;
}

#banner{
	background-color:black;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	filter: brightness(50%);
	color:white;
}
